
# For video splitting into images and misc OpenCV operations
opencv-contrib-python
tk

# For converting LableMe data to COCO data
lableme
numpy
pillow

# Detectron2, see https://detectron2.readthedocs.io/en/latest/tutorials/install.html